* {
  margin: 0px;
  padding: 0px;
}

html, body {
  font-family: 'Montserrat', sans-serif;
}

p{
  color: #646464;
}

.service__number{
  color: #00AD84;
  opacity: 0.09;

}
.service__title{
color: #116363;

}
  .principalservices__title{
    color: #007A7A    ;
  }

.whitefont{
  color: #fff;
}
.motivating{
  background-color: #116363;  
}
.positionmacaws{
  position:absolute; top: 343px; left: 943px;
}
.menubtn{
  
  margin: 40px;
  list-style: none;
  margin: 52px 15px;
  
}
a{
text-decoration: none;

}

.menubtn a{
  color: #fff;
  padding: 10px 35px;
  background-color: rgba(90, 90, 90, 0.1);
  border-radius: 25px;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 5px rgb(192, 192, 192);

}


.logo{
  margin:30px 0;
}

.nav {
  justify-content: space-between;  
  padding: 0px 10%;
  position: relative;
}
.align-items-center {
  align-items: center;
}
.flex{
  display: flex;
  
}
.banner__position{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  height: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

header{
  height: 800px;
}

.cuadrado {
  background-color: rgba(48, 48, 48, 0.1);
  backdrop-filter: blur(5px);
  width:41%;
  height:730px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner__text{
  position:absolute; top: 607px; left: 149px;
}

.banner__vertical{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-top: 150px;
  margin-left: 78px;
  font-size: 14px;
  opacity: 0.4;

}

.line{
  height: 0.5px;
  background-color: rgb(255, 255, 255);
  transform: rotate(90deg);
  position: absolute; top: 234px; left: 102px;
}

.banner_title{
  font-size: 600%;
  color: #fff;
  position:absolute; top: 237px; left: 264px;
}
.banner__title__size{
  font-size: 600%;
  color: #fff;
  position:absolute; top: 360px; left: 160px;
  
}